In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('extras/dados/aluguel.csv', sep = ';')

In [4]:
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [8]:
df['Bairro'] = df['Bairro'].apply(lambda x: x.lower())

In [9]:
df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,lins de vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Quitinete,glória,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,Quitinete,flamengo,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,Quitinete,centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,Quitinete,copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,Quitinete,centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

In [10]:
df['Bairro'] = df['Bairro'].apply(lambda x : x.upper())

In [11]:
df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,CENTRO,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,HIGIENÓPOLIS,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,CACHAMBI,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,GRAJAÚ,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,LINS DE VASCONCELOS,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Quitinete,GLÓRIA,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,Quitinete,FLAMENGO,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,Quitinete,CENTRO,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,Quitinete,COPACABANA,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,Quitinete,CENTRO,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

AttributeError: 'Series' object has no attribute 'upper'